In [ ]:
print("hola mundo")

hola mundo

In [ ]:
hola_mundo = "Hola Mundo"

print(hola_mundo)

Hola Mundo

In [ ]:
holaMundo = "hola mundo"
print(holaMundo)

hola mundo

In [ ]:
print(5)

5

In [ ]:
print(5.58)

5.58

In [ ]:
print(5 + 10)

15

In [ ]:
suma = 5 + 10
print(suma)

15

In [ ]:
print(5+10)

15

In [1]:
nombre = input("Ingrese su nombre: ")
apellido = input("Ingrese su apellido: ")
edad = input("Ingrese su edad: ")
print(nombre + " " + apellido + " " + edad)

Ingrese su nombre:  Aldana
Ingrese su apellido:  Benitez
Ingrese su edad:  20

Aldana Benitez 20

In [ ]:
print("Ingrese 4 números por teclado:")
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())

print(num1 + num2)
print(num3 - num4)

Ingrese 4 números por teclado:
10
8
9
-5
18
14

In [2]:
nombre = "Aldana"
apellido = "Benitez"

# Formas de incluir una variable en un string 

print(f"Mi nombre es {nombre} y mi apellido es {apellido}")
print("Mi nombre es {} y mi apellido es {}".format(nombre, apellido))
print("Mi nombre es", nombre, " y mi apellido es", apellido)
print("Mi nombre es " + str(nombre) + " y mi apellido es " + str(apellido)) # recordar que el dato alojado en la variable debe ser str o debo convertirlo

Mi nombre es Aldana y mi apellido es Benitez
Mi nombre es Aldana y mi apellido es Benitez
Mi nombre es Aldana  y mi apellido es Benitez
Mi nombre es Aldana y mi apellido es Benitez

In [ ]:
print("Cálculos")
num1 = 10
num2 = 5
num3 = 2

print(f"Realizar la suma entre {num1} y {num2}")
suma = num1 + num2
print(f"La suma entre {num1} y {num2} es {suma}")
print()
print()
print(num1 == num2)  # pregunto si num1 es exactamente igual a num2 --> booleano
print(num1 != num3)  # pregunto si num1 es distinto de num3 --> booleano
print()
comparacion1 = num1 == num2
comparacion2 = num1 != num3
comparacion3 = comparacion1 and comparacion2
comparacion4 = comparacion1 or comparacion2
negacion = not comparacion1
print(comparacion3)
print(comparacion4)
print(negacion)

Cálculos
Realizar la suma entre 10 y 5
La suma entre 10 y 5 es 15


False
True

False
True
True

In [ ]:
num1 = float(input("Ingrese un número: "))
print(num1)
num2 = float(input("Ingrese un número: "))
num3 = float(input("Ingrese un número: "))
num4 = float(input("Ingrese un número: "))

suma = num1 + num2 + num3 + num4
resta = num1 - num2 - num3 - num4
prod = num1 * num2 * num3 * num4

print(type(suma))
print(type(resta))
print(type(prod))

Ingrese un número: 7
7.0
Ingrese un número: 8.8
Ingrese un número: 9
Ingrese un número: 7.56
<class 'float'>
<class 'float'>
<class 'float'>

In [9]:
"""
EJERCICIO: 
Escribir un programa que pida al usuario 5 números enteros por teclado, luego crear un diccionario que sea por ejemplo:
numeros = {"uno": 1, "dos": 2, ...} teniendo en cuenta los números ingresados por teclado

"""

print("Ingrese cuatro números por teclado: ")
num1 = input(int())
num2 = input(int())
num3 = input(int())
num4 = input(int())

diccionario = {"uno" : num1,
              "dos" : num2,
              "tres" : num3,
              "cuatro" : num4
}
print(diccionario)

Ingrese cuatro números por teclado:

0 1
0 3
0 6
0 8

{'uno': '1', 'dos': '3', 'tres': '6', 'cuatro': '8'}